 <article id="section-shop">
      <h2>The Shop</h2>
      <p>Ahoy landman! Pick what you need for the big trip. You gonna be out there some days, so better leave prepared.</p>
      <p><strong>Please note: All prices are without <abbr title="Value Added Tax">VAT</abbr>!</strong></p>
      <ul>
        <li class="left">
          <div>
            <h3>Towel</h3>
            <p>Sunny days and warm weather - you clearly need it after a refreshing jump into the cool sea.</p>
          </div>
          <footer>
 
            <button data-shop-listing='{"name": "Towel", "description": "Sunny days and warm weather - you clearly need it after a refreshing jump into the cool sea.", "price": 10.00}'>Add to cart</button>
            <p>&euro;10</p>
          </footer>
           
        </li>
        <li class="right">
          <div>
            <h3>Enlightening book</h3>
            <p>There&rsquo;s no rush out there. Take your time for a good read.</p>
          </div>
          <footer>
            
            <button data-shop-listing='{"name": "Enlightening book", "description": "There&rsquo;s no rush out there. Take your time for a good read.", "price": 5.99}'>Add to cart</button>
            <p>&euro;5.99</p>
          </footer>
        </li>
        <li class="left">
          <div>
            <h3>Waterproof camera</h3>
            <p>Below the sea&rsquo;s surface, a hidden world. Don't miss out to bring those memories back home.</p>
          </div>
          <footer>
          
            <button data-shop-listing='{"name": "Waterproof camera", "description": "Below the sea&rsquo;s surface, a hidden world. Do not miss out to bring those memories back home.", "price": 49.99}'>Add to cart</button>
              <p>&euro;49.99</p>
          </footer>
        </li>
        <li class="right">
          <div>
            <h3>Pinwheel</h3>
            <p>Wondering what to do when there's only a light breeze? Back to your childhood!</p>
          </div>
          <footer>
        
            <button data-shop-listing='{"name": "Pinwheel", "description": "Wondering what to do with only a light breeze? Back to your childhood!", "price": 2.50}'>Add to cart</button>
             <p>&euro;2.50</p>
          </footer>
        </li>
      </ul>
    </article>